@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&displaywap');
body, h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Pacifico', sans-serif !important;
  }
img {
    transition: transform 0.3s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}

